.header{
    margin-bottom: 50px;
    background-image: url('../../images/Bg.png');
    background-size: cover;
}
.menu{
    font-weight: 900;
    font-size: 20px;
    color: honeydew;
}
.Logo{
    font-weight: 900;
    font-size: 40px;
    color: honeydew;
}